/* header styles */

.upper__page__half__header {
    height: 6vh;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: var(--pageHeader-color);
    color: var(--font-whiteColor);
    vertical-align: center;
}

     /* left side header */
#leftHeader {
    float: left;
}

#logo {
    color: var(--font-whiteColor);
    font-size: 26px;
    margin-right: 35px;
}

#leftHeader nav {
    display: inline;
    font-size: 16px;
    font-weight: 200;

}

#leftHeader nav span {
    display: inline-block;
    margin-right: 20px;
}

     /* right side header */
#rightHeader {
    float: right;
    font-size: 16px;
    font-weight: 200;
}

#rightHeader>img {
    vertical-align: bottom;
}

#rightHeader>span:last-child {
    margin-left: 30px;
}

#cartText {
    position: relative;
}

#cartText::after {
    width: 14px;
    height: 14px;
    content: "7";
    background-color: var(--btnBackground-color);
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    line-height: 14px;
    position: absolute;
    right: -14px;
    top: -9px;

}
