body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.background__container {
    flex-grow: 1;          /* enforce expand background to fill to 100vh*/
    display: flex;
}

.main__content{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--pageFooter-color);
}

h1 {
    text-align: center;
    font-family: 'Pacifico';
    font-size: 70px;
}

main>p {
    text-align: center;
    font-size: 32px;
    margin: 30px 0 100px 0;
}

main div.button {
    width: 280px;
    padding: 10px;
    font-size: 40px;
    margin: 0 auto;
    text-decoration: none;
}

